{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block content %}
<div id="cart-nav" class="container mb-2" data-bs-spy="scroll" data-bs-target="#navigation-bar" data-bs-offset="10" tabindex="0">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Shopping Cart</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                <table class="table table-borderless">
                    <thead style="background-color: #191919;">
                        <tr>
                            <th class="ps-sm-5" scope="col">Service</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in cart_items %}
                    <tr>
                        <td class="py-3 ps-sm-5">
                            <p class="my-0">{{ item.service.name }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.service.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="{% url 'update_cart' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-primary btn-sm" data-item_id="{{ item.item_id }}"
                                                id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input fs-4" maxlength="1" name="quantity" value="{{ item.quantity }}"
                                            min="1" max="9" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-primary btn-sm" data-item_id="{{ item.item_id }}"
                                                id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info">Update</a>
                            <a class="remove-item text-danger float-end" id="remove_{{ item.item_id}}">Remove{% if item.quantity > 1 %} All{% endif %}</a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.service.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="text-end pt-5">
                            <hr>
                            <h5>Cart Total: € {{ total|floatformat:2 }}</h5>
                            {% if discount %}
                            <h5>Qty Discount:({{ combination_discount_percentage }}%) € {{ discount|floatformat:2 }}
                            </h5>
                            {% else %}
                            <h5>Qty Discount: None</h5>
                            {% endif %}
                            <h5>VAT:({{ vat_percentage }}%) € {{ vat|floatformat:2 }}</h5>
                            <hr>
                            <h3 class="mt-4"><strong>Net total: € {{ net_total|floatformat:2 }}</strong></h3>
                        </td>
                    </tr>
                </table>
                <span class="float-start">
                    <a href="{% url 'home' %}#servicessection" class="btn btn-primary rounded-0 btn-lg">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Back</span>
                    </a>
                </span>
                <span class="float-end">
                    <a href="{% url 'checkout' %}" class="btn btn-success rounded-0 btn-lg">
                        <span class="text-uppercase">Checkout</span>
                        <span>
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </span>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'home' %}#servicessection" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static 'js/quantity_input_scripts.js' %}"></script>
<script src="{% static 'js/update_and_remove_scripts.js' %}"></script>

{% endblock %}