{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container pad-nav-comp">
    <div class="row mx-1">
        <div class="col">
            <h2 class="mb-4">Site Management</h2>
            <h4 class="mb-4">Add the about information</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-5 mb-5 mx-4">
            <p>Here you can add the general information of the site owner; such as the name, profession, relevant information and profile pictures. The hero image will be visible in the here landing and the about image next the the about information.</p>
        </div>
        <div class="col-12 col-lg-6 gx-5">
            <form method="POST" action="{% url 'add_about' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-end mt-3 mb-2">
                    <a href="{% url 'site_manager' %}" class="btn btn-primary rounded-0 float-start mt-3">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Back</span>
                    </a>
                    <button id="submit-button" class="btn btn-success rounded-0 mt-3">
                        <span class="font-weight-bold">Update!</span>
                        <span>
                            <i class="fas fa-share-square"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
