{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profile/css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Users Dashboard</h2>
            <hr>
        </div>
    </div>

    <div class="row">
    </div>
</div>

<div id="loading-overlay">
    <h1 class="processing-animation">
        <span class="mb-5">
            <i class="fas fa-5x fa-cog fa-spin"></i>
        </span>
    </h1>
</div>
{{ profile }}
{% endblock %}

{% block postloadjs %}

{% endblock %}