{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="container mb-2 pad-nav-comp">
    <div class="row dashboard-header">
        <h2 class="mb-4">Site Administration</h2>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 p-3">
            <div class="table-responsive">
                <table class="table table-sm table-borderless table-hover">
                    <thead>
                        <tr>
                            <th class="ps-sm-5" scope="col">Service</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="ps-sm-5">
                                About
                            </td>
                            <td>
                                {% if about_user %}
                                    <a href="{% url 'edit_about' %}" class="btn btn-secondary btn-admin">Edit About</a>
                                {% else %}
                                    <a href="{% url 'add_about' %}" class="btn btn-primary btn-admin">Add About</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-sm-5">
                                Skills
                            </td>
                            <td>
                                <a href="{% url 'skills' %}" class="btn btn-primary btn-admin">View Skills</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-sm-5">
                                Services
                            </td>
                            <td>
                                <a href="{% url 'services' %}" class="btn btn-primary btn-admin">View Services</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="ps-sm-5">
                                Projects
                            </td>
                            <td>
                                <a href="{% url 'projects' %}" class="btn btn-primary btn-admin">View Projects</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <a href="{% url 'home' %}" class="btn btn-primary rounded-0">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back to homepage</span>
                </a>
            </div>
        </div>
    </div>
</div>



{% endblock %}