{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <hr>
            <h2 class="logo-font mb-4">Shopping Cart</h2>
            <hr>
            <p>Your order information is below. This information will also be sent to {{ order.email }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="order-confirmation-wrapper p-2 border">
                <section id="Order-Info">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Info:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Order Number:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0 text-break">{{ order.order_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Order Date:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>
                </section>
                <section id="Details">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Details:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Name:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Email:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.email }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Phonenumber:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Country:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>



    <div class="row" style="margin-top:5rem;">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="table-responsive rounded">
                <table class="table table-borderless">
                    <thead style="background-color: #191919;">
                        <tr>
                            <th class="ps-sm-5" scope="col">Service</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th class="text-end" scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in order.lineitems.all%}
                    <tr>
                        <td class="py-3 ps-sm-5">
                            <p class="my-0">{{ item.service.name }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€ {{ item.service.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            {{ item.quantity }}
                        </td>
                        <td class="py-3">
                            <p class="my-0 text-end">€ {{ item.lineitem_total }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="text-end pt-5">
                            <hr>
                            <h5>Cart Total: € {{ order.order_total}}</h5>
                            {% if order.discount %}
                            <h5>Qty Discount<small>({{ combination_discount_percentage }}%)</small>: €
                                {{ order.discount }}
                            </h5>
                            {% else %}
                            <h5>Qty Discount: None</h5>
                            {% endif %}
                            <h5>VAT:<small>({{ vat_percentage }}%)</small> € {{ order.vat|floatformat:2 }}</h5>
                            <hr>
                            <h3 class="mt-4"><strong>Net total: € {{ order.net_total }}</strong></h3>
                        </td>
                    </tr>
                </table>
                {% if from_profile %}
                    <span class="float-end">
                        <a href="{% url 'profile' %}" class="btn btn-success rounded-0 btn-lg">
                            <span class="text-uppercase">Back to Dashboard</span>
                            <span>
                                <i class="fas fa-columns"></i>
                            </span>
                        </a>
                    </span>
                {% else %}
                    <span class="float-end">
                        <a href="{% url 'home' %}" class="btn btn-success rounded-0 btn-lg">
                            <span class="text-uppercase">Success!</span>
                            <span>
                                <i class="fas fa-check"></i>
                            </span>
                        </a>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}