/* - - - Gallery styles - - - */
#gallery {
    padding: 5rem 0 0 0;
}

.carousel {
    height: 25rem;
}
.project-title {
    text-align: center;
}

.carousel-inner {
    height:inherit;
    width: 75vw;
    margin: auto;
}

.carousel-item {
    background-color: #272b30;
}

.project-img {
    height: 20rem;
    margin: auto;
    object-fit: contain;
}

.carousel-indicators {
    position: static;
    padding-top: 2rem;
}

.control-icon {
    font-size: 5rem;
    padding: 0 2rem;
}

.control-icon:hover {
    background-color: rgba
}

@media (min-width: 576px) {

    .carousel {
        height: 33rem;
    }

    .carousel-inner {
        height: 28rem!important;
        width: 75vw;
        margin: auto;
    }

    .project-img-container {
        height: inherit;
    }
    .project-img {
        height: 23rem;
        margin: auto;
        object-fit: contain;
    }
}

@media (min-width: 768px) {
    #gallery {
        padding: 5rem 2rem 0 2rem;
    }

    .carousel {
        height: 52rem;
    }

    .carousel-inner {
        height: 45rem!important;
        width: 75vw;
        margin: auto;
    }

    .project-img-container {
        height: inherit;
    }
    .project-img {
        height: 38rem;
        margin: auto;
        object-fit: contain;
    }
}
