@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-weight: 400;
    font-size: 1.6rem;
    font-family: Ubuntu, Arial, serif;
    height: 100vh;
}

/* - - - - - Navigation - - - - - */

.navbar {
    font-weight: 500 !important;
    border-bottom: 1px solid #000000;
    background-color: #191919 !important;
}

.navbar-brand {
    font-size: 2rem;
    padding-left: 1rem;
}

.navbar-nav {
    text-align: right;
}

.navbar-toggler {
    color: #ffffff;
    border-color: #8C8C8C;
    font-size: 3rem;
}

/* - - - - - Landing Page - - - - - */

#heropage {
    height: 100vh;
    background-color: #191919;
    padding: 0 !important;
    max-width: 100%;
    color: #FFFFFF;
    font-size: 2rem;
}

#infocard {
    text-align: center;
    min-height: 25rem;
    margin: 20vh auto auto auto;
}

.link-icon-container {
    margin: 2rem;
}

.image-container {
    padding: 2rem;
}

.profile-image {
    border-radius: 50%;
    margin: 1rem;
    width: auto;
    height: 12rem;
}

.pagesection {
    margin: auto;
    padding-top: 10rem;
}



.link-icon {
    color: #FFFFFF;
    padding: 1rem;
}

.link-icon i {
    font-size: 4rem;
}