
<!-- Modal for confirming deletion of a skill item -->
<div class="modal fade" id="ConfirmModal{{skill.id}}" tabindex="-1" aria-labelledby="ConfirmModal{{skill.id}}Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="ConfirmModal{{skill.id}}Label">Delete Skill?</h2>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete {{ skill.name }}?</p>
				<p>This can not be undone!</p>
			</div>
			<div class="modal-footer" style="display: block">
				<a type="button" class="btn btn-secondary float-start rounded-0" data-bs-dismiss="modal">Back</a>
				<a href="{% url 'delete_skill' skill.id %}" class="btn btn-danger float-end rounded-0">Delete</a>
			</div>
		</div>
	</div>
</div>
