{% extends "layout/base.html" %}

{% block content %}
<div class="container authentication-container" data-bs-spy="scroll" data-bs-target="#navigation-bar" data-bs-offset="0" tabindex="0">
    <div class="row">
        <div class="col-8 col-lg-6 position-absolute top-50 start-50 translate-middle allauth-form-wrapper">
            <div class="allauth-form-inner-content">
                {% block inner_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}