<!-- Modal for confirming deletion of a project item -->
<div class="modal fade" id="ConfirmModal{{ project.id }}" tabindex="-1" aria-labelledby="ConfirmModal{{ project.id }}Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="ConfirmModal{{ project.id }}Label">Delete Project?</h2>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete {{ project.name }}?</p>
				<p>This can not be undone!</p>
			</div>
			<div class="modal-footer" style="display: block">
				<button type="button" class="btn btn-secondary float-start rounded-0" data-bs-dismiss="modal">Back</button>
				<a href="{% url 'delete_project' project.id %}" class="btn btn-danger float-end rounded-0">Delete</a>
			</div>
		</div>
	</div>
</div>