{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row" style="margin-top:6rem;">
        <div class="col">
            <hr>
                <h2 class="mb-4">Project's List</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if projects %}
            <div class="table-responsive rounded">
                <table class="table table-borderless table-hover">
                    <thead style="background-color: #191919;">
                        <tr>
                            <th scope="col" class="ps-sm-5">Id</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Image/Image URL</th>
                            <th scope="col">Hidden</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    {% for project in projects %}
                    <tr>
                        <td class="py-3 ps-sm-5" scope="row">
                            <p class="my-0">{{ project.id }}</p>
                        </td>
                        <td class="py-3" >
                            <p class="my-0">{{ project.name }}</p>
                        </td>
                        <td class="py-3">
                            {% if project.image %}
                                <p>Image</p>
                                <!-- <i class="fas fa-sm fa-check-circle"></i> -->
                            {% elif project.image_url %}
                                <p>Image URL</p>
                            {% else %}
                                <p>None</p>
                                <!-- <i class="fas fa-sm fa-times-circle"></i> -->
                            {% endif %}
                        </td>
                        <td class="py-3">
                            {% if project.hidden %}
                                <p>Yes</p>
                                <!-- <i class="fas fa-sm fa-check-circle"></i> -->
                            {% else %}
                                <p>No</p>
                                <!-- <i class="fas fa-sm fa-times-circle"></i> -->
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <a href="{% url 'edit_project' project.id %}" class="btn btn-secondary">Edit</a>
                            <a href="#ConfirmModal" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ConfirmModal">Delete</a>
                        </td>
                    </tr>
                    <!-- Include Confirmation Modal -->
                    {% include 'projects/includes/modal.html' %}
                    {% endfor %}
                </table>
                <span class="float-start mt-3">
                    <a href="{% url 'site_manager' %}" class="btn btn-primary rounded-0">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Admin Panel</span>
                    </a>
                </span>
                <span class="float-end mt-3">
                    <a href="{% url 'add_project'%}" class="btn btn-success rounded-0">
                        <span class="text-uppercase">Add Project</span>
                        <span>
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </a>
                </span>
            </div>
            {% else %}
            <p class="mb-5">There are no projects to show.</p>
            <span class="float-start mt-3">
                <a href="{% url 'site_manager' %}" class="btn btn-primary rounded-0">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Admin Panel</span>
                </a>
            </span>
            <span class="float-end mt-3">
                <a href="{% url 'add_project'%}" class="btn btn-success rounded-0">
                    <span class="text-uppercase">Add Project</span>
                    <span>
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </a>
            </span>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}