.checkout-header {
    margin: 0 0 1rem 0;
	border-bottom: 1px solid #191919;
}

.checkout-header h2 {
    font-size: 2.5rem;
}


/* Stripe element styling from https://stripe.com/docs/ */
input {
	font-size: 1.6rem!important;
}

select {
	font-size: 1.6rem!important;
    padding-top: 0.65rem!important;
}

select:invalid,
select option[value=""] {
	color: #aab7c4
}

select option {
	font-size: 1.6rem!important;
	color: #000000;
}

.StripeElement,
.stripe-style-input {
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border: 1px solid transparent;
	border-radius: 0px;
	background-color: #FFF !important;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
	box-shadow: 0 1px 3px 0 #AAA;
}

.StripeElement--webkit-autofill {
	background-color: #AAA !important;
}

.stripe-style-input::placeholder {
	color: #AAA;
}

.fieldset-label {
	position: relative;
	right: .5rem;
}

#payment-form .form-control,
#payment-form .form-select,
#card-element {
	border: 1px solid #000;
}

.ElementsApp,
.InputElement,
.InputContainer {
	font-size: 1.2rem!important;
}

.fieldset-label {
	position: relative;
	right: .5rem;
}

#payment-form .form-control,
#card-element {
	color: #000;
	border: 1px solid #000;
}

/* - - - Payment processor animation - - - */

#loading-overlay {
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(25, 25, 25, .75);
	z-index: 1021;
}

.processing-animation {
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10rem;
	height: 100%;
}
