<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#herosection">Home</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-expanded="false">About</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#aboutsection">About Me</a>
						<a class="dropdown-item" href="#timelinesection">Experiences</a>
						<a class="dropdown-item" href="#servicessection">Services</a>
						<a class="dropdown-item" href="#gallerysection">Previous Projects</a>
						<a class="dropdown-item" href="#contactsection">Contact Me</a>
					</div>
				</li>
				<!--                 <li class="nav-item">
				<a class="nav-link" href="#">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Logout</a>
			</li> -->
				<li class="nav-item">
					<a class="nav-link" href="#">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Register</a>
				</li>
			</ul>
		</div>
	</div>
</nav>