{% load static %}

<!doctype html>

<html lang="en">

<head>
    {% include 'layout/head.html' %}

    {% block extra_css %}
    {% endblock %}

    {% include 'layout/scripts.html' %}
    
    {% block extra_js %}
    {% endblock %}

</head>

<body data-bs-spy="scroll" data-bs-target="#navigation-bar" data-bs-offset="0">
    {% include 'components/navigation.html' %}

    {% include 'components/messages.html' %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.toast').toast('show');
        });
    </script>
    {% block postloadjs %}
    {% endblock %}
</body>

</html>