{% load static %}

<!doctype html>

<html lang="en">

<head>
    {% include 'layout/head.html' %}

    {% block extra_css %}
    {% endblock %}

    {% include 'layout/scripts.html' %}
    
    {% block extra_js %}
    {% endblock %}
</head>

<body>
    {% include 'components/navigation.html' %}

    {% include 'components/messages.html' %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
    <script src="{% static 'js/toast.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
</body>

</html>