{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container pad-nav-comp">
    <div class="row mx-1">
        <div class="col">
            <h2 class="mb-4">Site Management</h2>
            <h4 class="mb-4">Add a service</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-5 mb-5 mx-4">
            <p>You can add a service to sell. It should have a name, a small description and a price. If you submit without an image or image URL. It will default to no-image. If both provided, if will default to the image.</p>
        </div>
        <div class="col-12 col-lg-6 gx-5">
            <form method="POST" action="{% url 'add_service' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-end mt-3 mb-2">
                    <a href="{% url 'services' %}" class="btn btn-primary rounded-0 float-start mt-3">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Back</span>
                    </a>
                    <button id="submit-button" class="btn btn-success rounded-0 mt-3">
                        <span class="font-weight-bold">Add Service</span>
                        <span>
                            <i class="fas fa-share-square"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}