{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 5rem;">
    <div class="row">
        <h4>
            <a href="{% url 'home' %}" class="btn btn-lg rounded-0 text-uppercase py-3">Back</a>
        </h4>
    </div>
    <div class="row">
        <h1>My Services:</h1>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4">
            {% for service in services %}
            <div class="card" style="width: 25rem;">
                <div class="card-header">{{ service.name }}</div>
                {% if service.image %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ service.image.url }}" alt="{{ service.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ service.name }}">
                </a>
                {% endif %}
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div class="card-footer container">
                    <div class="row">
                            <p class="col-6 lead mb-0 text-left font-weight-bold">€{{ service.price }}</p>
                            <a href="#" class="col-6 btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}