{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
<div class="container" style="margin-top:5rem;">
    <div class="row">
        <h2>{{ service.name }}</h2>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
            <div class="image-container my-5">
                {% if service.image %}
                <a href="{{ service.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ service.image.url }}" alt="{{ service.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="/media/noimage.png" alt="{{ service.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
            <div class="mb-5 mt-md-5">
                <p class="mb-0">{{ service.name }}</p>
                <p class="lead mb-0 text-end font-weight-bold">€{{ service.price }}</p>
                <p class="mt-3">{{ service.description }}</p>
                <form class="form" action="{% url 'add_to_cart' service.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-primary" data-item_id="{{ service.id }}"
                                            id="decrement-qty_{{ service.id }}">
                                            <span>
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input fs-4" maxlength="1" name="quantity" value="1"
                                        min="1" max="9" data-item_id="{{ service.id }}" id="id_qty_{{ service.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-primary" data-item_id="{{ service.id }}"
                                            id="increment-qty_{{ service.id }}">
                                            <span>
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary mt-5">
                                <span>
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Back</span>
                            </a>
                            <input type="submit" class="btn btn-success text-uppercase mt-5" value="Add to cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/quantity_input_scripts.js' %}"></script>

{% endblock %}