{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
                <h2 class="logo-font mb-4">Services List</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            {% if services %}
            <div class="table-responsive rounded">
                <table class="table table-borderless table-hover">
                    <thead style="background-color: #191919;">
                        <tr>
                            <th scope="col" class="ps-sm-5">Id</th>
                            <th scope="col">Service</th>
                            <th scope="col">Price</th>
                            <th scope="col">Hidden</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    {% for service in services %}
                    <tr>
                        <td class="py-3 ps-sm-5" scope="row">
                            <p class="my-0">{{ service.id }}</p>
                        </td>
                        <td class="py-3" >
                            <p class="my-0">{{ service.name }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ service.price }}</p>
                        </td>
                        <td class="py-3">
                            {% if service.hidden %}
                                <p>Yes</p>
                                <!-- <i class="fas fa-sm fa-check-circle"></i> -->
                            {% else %}
                                <p>No</p>
                                <!-- <i class="fas fa-sm fa-times-circle"></i> -->
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <a href="{% url 'service_details' service.id %}" class="btn btn-primary">View</a>
                            <a href="{% url 'edit_service' service.id %}" class="btn btn-secondary">Edit</a>
                            <a href="{% url 'delete_service' service.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <span class="float-start">
                    <a href="{% url 'home' %}#servicessection" class="btn btn-primary rounded-0 btn-lg">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Back to dashboard</span>
                    </a>
                </span>
                <span class="float-end">
                    <a href="{% url 'add_service' %}" class="btn btn-success rounded-0 btn-lg">
                        <span class="text-uppercase">Add Service</span>
                        <span>
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </a>
                </span>
            </div>
            {% else %}
            <p class="lead mb-5">There are no services to show.</p>
            <a href="#" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back to daschboard</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}